#card-wrapper {
  width: auto;
  background: #fff;
  padding: 12px 32px;
  margin-bottom: 24px;
  border-radius: 6px;
}

#card-wrapper .title {
  font-size: 22px;
  cursor: pointer;
}
#card-wrapper .title.symbol {
  margin-right: 8px;
}
#card-header {
  display: flex;
  align-items: baseline;
}
#card-expanded {
  min-height: 170px;
}
#card-hr {
  margin: 12px -32px;
  margin-bottom: 6px;
  border-top: 1px solid #e2e2e2;
}

label {
  font-size: 14px;
  font-weight: 900;
}
