:root {
  --color-title: #418dc3;
  --color-bg: #f1f3f6;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  padding: 12px;
  background-color: var(--color-bg);
  height: 100vh;
}

.title {
  color: var(--color-title);
}

hr {
  border: 1px solid #d3d3d3;
}

#header {
  height: 6vh;
  padding: 12px;
  padding-bottom: 0px;
  display: flex;
  align-items: flex-end;
}

#header > span {
  font-weight: 600;
}

#main-wrapper {
  overflow-y: scroll;
  height: 70vh;
  padding: 8px;
}

#footer {
  padding: 12px;
}

.button {
  margin: 12px;
  font-size: 12px;
}

.button.save {
  padding: 4px 12px;
  border-radius: 12px;
  background-color: var(--color-title);
  color: var(--color-bg);
}

.button.discard {
  color: var(--color-title);
}
